# git rm --cached `git ls-files -i --exclude-from=.gitignore`
.idea
/CMakeFiles
/.idea
/CMakeCache.txt
/cmake_install.cmake
/cmake-build-debug
/googletest-build
/googletest-download
/googletest-src
/gmock.pc
/gmock_main.pc
/gtest.pc
/gtest_main.pc
/Makefile
/GTest
/Cplusplus
/Cplusplus_test
/Cplusplus.cbp
