# git rm --cached `git ls-files -i --exclude-from=.gitignore`
.idea
/CMakeFiles
/.idea
/CMakeCache.txt
/cmake_install.cmake
/CODING
/CODING.cbp
/gmock.pc
/gmock_main.pc
/gtest.pc
/gtest_main.pc
/Makefile
/Project.cbp
/TEST
/TEST.cbp
/untitled.cbp
